.slider {
	@apply mb-16 rounded-extra-big;
}
.slide {
	aspect-ratio: 3 / 1.2;
}
.link {
	@apply cursor-pointer w-full h-full relative rounded-extra-big;

	> img {
		@apply rounded-extra-big;
	}
}
.fill {
	@apply relative z-1 left-0 right-0 top-0 bottom-0 w-full h-full flex items-end justify-start py-40 px-28;
}
.box {
	@apply w-full;
	max-width: 660px;
}
.name {
	@apply text-big font-bold leading-none mb-6 transition-colors hover:text-purple-300;
}
.excerpt {
	@apply mb-6 text-gray-500 font-medium;
	font-size: 18px;
}
.info {
	@apply flex items-center gap-5 mb-6 font-medium;
	font-size: 17px;
}
.genre {
	@apply transition-colors hover:text-purple-300;
}
.buttons {
	@apply flex items-center gap-10;
}
.play {
	@apply btn-primary py-4 px-7 flex items-center gap-3 transition-transform duration-150;

	> svg {
		@apply w-6 h-6;
	}
}
