@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	@apply inline-block;
	color: inherit;
	text-decoration: none;
}

body {
	@apply m-0 p-0 text-base bg-black text-gray-300 leading-normal font-outfit;
}
